html {
    background: #e6e9e9 linear-gradient(270deg, rgb(130, 433, 333) 0%, rgb(316, 221, 421) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgba(0,0,0,0);
}

#Titel {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
}

.Regeln {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    text-align: left;
    
}


.Infos {
    color: #222;
    font-weight: 600;
    text-align: right;
        
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

#content {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#left {
    width: 40%;
    height: 100%;
    float: left;
}
#right {
    width: 40%;
    height: 100%;
    float: right;
}
header {
    height: 10%;
    width: 100%;
    margin: 1% auto 5%;
}
.card {
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 10px;
}
.text-left {
    text-align: left;
}
.list-group-item {
    background-color: rgba(0,0,0,0);
}
.card-header {
    font-weight: bold;
}
.kollecIMG {
    height: 32px;
}
